extends layout

block content
  .main.container.text-xs-center
    img(src='/images/pacebank_logo.png', alt='avatar', width='400',height='182')
    p.
    p.lead Open an account today!
    a.btn.btn-info-outline.btn-lg(href='/register', title='Click here to sign up.') Get Started Now